.header {
  display: flex;
  justify-content: space-between;
  border: 2px solid black;
}

.logo {
  width: 100px;
}
.top-rated-btn {
  padding: 10px;
  display: flex;
  gap: 10px;
}

.nav-items > ul {
  list-style-type: none;
  display: flex;
  font-size: 24px;
}

.nav-items > ul > li {
  margin: 10px;
  padding: 10px;
}

.res-Cards {
  width: 200px;
  margin: 2px;
  padding: 5px;
  border: 1px solid black;
  background-color: blanchedalmond;
  transition: transform 0.1s ease, border 0.1s ease;
  border-radius: 15px;
}
.res-Container {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
.res-Cards:hover {
  border: 5px solid red;
  cursor: pointer;
  transform: scale(1.05);
}
.search-bar {
  padding: 10px;
}
.res-logo {
  width: 100%;
}
.shimmer-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.shimmer-card {
  width: 200px;
  height: 400px;
  margin: 2px;
  padding: 5px;
  border: 1px solid black;
  background-color: blanchedalmond;
  border-radius: 15px;
}
.btn-Name {
  margin: 19px 27px;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background: linear-gradient(135deg, #6a11cb, #2575fc);
  border: none;
  border-radius: 50px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.contact-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-container h1 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.contact-form input,
.contact-form textarea {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.contact-form button {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contact-form button:hover {
  background-color: #0056b3;
}
