.header {
  display: flex;
  justify-content: space-between;
  border: 2px solid black;
}

.logo {
  width: 100px;
}

.nav-items > ul {
  list-style-type: none;
  display: flex;
  font-size: 24px;
}

.nav-items > ul > li {
  margin: 10px;
  padding: 10px;
}
/* .body {
  margin: 5px;
  display: flex;
} */

.res-Cards {
  width: 200px;
  margin: 2px;
  padding: 5px;
  border: 1px solid black;
  background-color: blanchedalmond;
  transition: transform 0.1s ease, border 0.1s ease;
  border-radius: 15px;
}
.res-Container {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
.res-Cards:hover {
  border: 5px solid red;
  cursor: pointer;
  transform: scale(1.05);
}
.search-bar {
  padding: 10px;
}
.res-logo {
  width: 100%;
}
